
<div class="card">
  {{#each this}}
  <div class="card-img-top">
    <img width="90" height="60" src="{{flag}}" alt="{{name}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">{{name}}</h2>
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>

    <p class="card-text"><b>Language:</b></p>
    <ul class="list-group"></ul>
    {{#each languages}}
      <li class="list-group-item">{{name}}</li>
    {{/each}}
    </ul>
  </div>{{/each}}
</div>
